<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <!-- Bootstrap -->

        <link rel="stylesheet" href="/css/styles.css" />

        <!-- Font Awesome -->
        <script
            src="https://kit.fontawesome.com/282ac420ee.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="text-center" onload="load()"></body>
</html>
