<%- include("partials/header") -%>
<div class="container register">
    <form method="post" class="form" action=<%= `/events/event/${eventURI}/participants` %>>
        <div class="card registration">
            <div class="card-header card-header-info text-center">
                <h4><i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <br>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" name="firstName" class="form-control" placeholder="First Name..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="text" name="lastName" class="form-control" placeholder="Last Name..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="Email..." required />
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" name="contact" placeholder="Contact..." required />
                </div>
                <input type="hidden" name="eventName" value="<%= eventName %>">
                <br>
                <input class="btn btn-info btn-lg" type="submit" value="Submit" />
                <br>
            </div>
        </div>
    </form>
</div>
<%- include("partials/footer") -%>