<%- include("partials/header") -%>
<div class="container">
    <h3>
        Hello, Admin!
    </h3>
    <br />
    <h4>
        Events
    </h4>
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="">Mark</a></td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>
    <input type="button" class="btn btn-lg btn-primary" value="Add Event" />
</div>
<%- include("partials/header") -%>